{% extends 'base.html' %}
{% block content %}
  <div class="card main-section">
    <h2>Project: {{ project.name }}</h2>
    <p>{{ project.description }}</p>
  </div>

  <div class="card main-section">
    <h3>Collections</h3>
    <ul>
      {% for c in collections %}
        <li>
          <a href="{{ url_for('ui.collection_detail', collection_id=c.id) }}">
            {{ c.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <h4>Add Collection</h4>
    <form action="{{ url_for('ui.project_detail', project_id=project.id) }}" method="post">
      <input type="hidden" name="action" value="new_collection">
      <label>
        Name:
        <input type="text" name="collection_name" required>
      </label>
      <label>
        Description:
        <textarea name="collection_description"></textarea>
      </label>
      <button type="submit">Add</button>
    </form>
  </div>
{% endblock %}
